#privacy {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .privText {
      text-align: left;
  }

  h1 {
    font-size: 10rem;
    @include respond(phone) {
        font-size: 7rem;
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #datePrivacy {
      float: right;
      font-size: 1rem;
  }
}
