// COLORS
$primary-color: #A1195F;
$secondary-color: #334697;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 3.5rem;
$mid-font-size: 2.5rem;

// Icon Home Page sizes

$bigIconHeight: 3.5rem;
$bigIconWidth: 3.5rem;

$medIconHeight: 3rem;
$medIconWidth: 3rem;

$smlIconHeight: 2.75rem;
$smlIconWidth: 2.75rem;

// Icon Hover Duration

$lowDuration: 5s;
$medDuration: 8s;
$longDuration: 11s;
